<!DOCTYPE html>
<html>

<head>
    <script src="ClientGlobalContext.js.aspx"></script>
    <script src="im360_common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/jquery@3.1.1/dist/jquery.js"></script>

    <script src="https://unpkg.com/vue-select@3.0.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">

    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.0/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui@2.2.0/lib/index.js"></script>

</head>

<body>
    <div id="app">
        <div v-if="showLoading" id="loading">
            <div id="loading-content">
                <img src="im360_Loading.gif" />
            </div>
        </div>

        <div>
            <div class="select-box">
                <v-select v-model="selectedIdAndSubject" @input="setSelected" placeholder="Select ticket"
                          :options="selectOptions" />
            </div>

            <div v-if="notFoundMessage" class="not-found">
                {{notFoundMessage}}
            </div>

            <div v-if="record && record.subject">
                <div id="viewerHead">
                    <h3>#{{record.id}} {{record.subject}}</h3>
                    <p v-if="record.company && record.company.name">
                        <strong class="boldCompany">Company</strong>
                        <a class="underlined"
                           @click="companyTickets(record.company_id, record.company.name)">{{record.company.name}}</a>
                    </p>

                    <div v-if="record.created_at" class="recordTags">
                        <strong class="boldDue">Date created:  </strong>
                        {{record.created_at.substring(0, 10)}}
                        
                    </div>

                    <div v-if="record.requesterEmail" class="recordTags">
                        <strong class="boldRequester">Partner email address:</strong>
                        {{record.requesterEmail}}
                    </div>
                    
                   <table v-if="record && record.custom_fields" aria-describedby="ticketDetails" class="details">
                        <tr>
                            <th id="1">Agent</th>
                            <th id="2">Ingram BCN#</th>
                            <th id="3">Customer ID</th>
                            <th id="4">Subscription ID</th>
                            <th id="5">Domain</th>
                            <th id="6">Support tier</th>
                            <th id="7">Platform</th>
                            <th id="8">Vendor</th>
                            <th id="9">Country</th>
                            <th id="10">Status</th>
                            <th id="11">Priority</th>
                            <th id="12">Jira ticket ID</th>
                            <th id="13">IMServ ticket ID </th>
                        </tr>
                        <tr>
                            <td>{{record.strAgent ? record.strAgent : '-'}}</td>
                            <td>{{zendesk_bcn ? zendesk_bcn : '-'}}</td>
                            <td>{{isStage ? record.custom_fields.find(f => f.id === 34395814674196) && record.custom_fields.find(f => f.id === 34395814674196).value ? record.custom_fields.find(f => f.id === 34395814674196) && record.custom_fields.find(f => f.id === 34395814674196).value : '-' 
                                : record.custom_fields.find(f => f.id === 34691185003796) && record.custom_fields.find(f => f.id === 34691185003796).value ? record.custom_fields.find(f => f.id === 34691185003796) && record.custom_fields.find(f => f.id === 34691185003796).value : '-'}}</td>
                            <td>{{isStage ? record.custom_fields.find(f => f.id === 21077955613972) && record.custom_fields.find(f => f.id === 21077955613972).value ? record.custom_fields.find(f => f.id === 21077955613972) && record.custom_fields.find(f => f.id === 21077955613972).value : '-'
                                : record.custom_fields.find(f => f.id === 20780455543956) && record.custom_fields.find(f => f.id === 20780455543956).value ? record.custom_fields.find(f => f.id === 20780455543956) && record.custom_fields.find(f => f.id === 20780455543956).value : '-'}}</td>
                            <td>{{record.strDomain ? record.strDomain : '-'}}</td>
                            <td>{{record.strSupportTier ? record.strSupportTier : '-'}}</td>
                            <td>{{record.strPlatform ? record.strPlatform : '-'}}</td>
                            <td>{{record.strVendor ? record.strVendor : '-'}}</td>
                            <td>{{record.strCountry ? record.strCountry : '-'}}</td>
                            <td>{{record.status ? record.status.charAt(0).toUpperCase() + record.status.slice(1) : '-'}}</td>
                            <td>{{record.priority ? record.priority.charAt(0).toUpperCase() + record.priority.slice(1) : '-'}}</td>
                            <td>{{isStage ? record.custom_fields.find(f => f.id === 33478946088596) && record.custom_fields.find(f => f.id === 33478946088596).value ? record.custom_fields.find(f => f.id === 33478946088596) && record.custom_fields.find(f => f.id === 33478946088596).value : '-'
                                : record.custom_fields.find(f => f.id === 35113832690964) && record.custom_fields.find(f => f.id === 35113832690964).value ? record.custom_fields.find(f => f.id === 35113832690964) && record.custom_fields.find(f => f.id === 35113832690964).value : '-'}}</td>
                            <td>{{isStage ? record.custom_fields.find(f => f.id === 33478981057940) && record.custom_fields.find(f => f.id === 33478981057940).value ? record.custom_fields.find(f => f.id === 33478981057940) && record.custom_fields.find(f => f.id === 33478981057940).value : '-'
                                : record.custom_fields.find(f => f.id === 34693101133716) && record.custom_fields.find(f => f.id === 34693101133716).value ? record.custom_fields.find(f => f.id === 34693101133716) && record.custom_fields.find(f => f.id === 34693101133716).value : '-'}}</td>
                        </tr>
                    </table>
                    <br>
                </div>

                <div class="MainMessage">
                    <div v-if="record.attachments && record.attachments[0]">
                        <strong>Attachments:</strong>
                        <ul>
                            <li v-for="item in record.attachments" :key="item.name">
                                <a :href="item.attachment_url" target="_blank">{{item.name}}</a>
                            </li>
                        </ul>
                        <br>
                    </div>
                    <div v-if="record.requesterEmail" class="MessageHeader">
                        {{record.created_at.substring(0, 10)}}
                        {{record.created_at.substring(11,19)}} {{record.requesterEmail}}
                    </div>
                    <div class="scrollableDiv">
                        <br>
                        {{record.description}}
                        <br>
                        <br>
                        <div v-if="record.conversations && record.conversations[record.conversations.length-1] && record.conversations[record.conversations.length-1].attachments && record.conversations[record.conversations.length-1].attachments.length > 0">
                            <strong>Attachments:</strong>
                            <ul>
                                <li v-for="attach in record.conversations[record.conversations.length-1].attachments" :key="attach.file_name">
                                    <a :href="attach.content_url" target="_blank">{{attach.file_name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div v-if="record && record.subject" class="conversation">
                <div v-if="record.conversations && record.conversations[0]">
                    <ul>
                        <li v-for="item in record.conversations" :key="item.id">
                            <div v-if="item.id != record.conversations[record.conversations.length-1].id" class="conversations">
                                <div class="MessageHeader">
                                    {{item.created_at && item.created_at.length > 10 ? item.created_at.substring(0, 10) : ''}} {{item.created_at && item.created_at.length > 19 ? item.created_at.substring(11, 19) : ''}} -
                                    {{item.author_email || record.requesterEmail}}
                                </div>
                                <br>
                                <div class="scrollableDiv">
                                    <div>
                                        {{item.body}}
                                    </div>
                                    <br>
                                    <div v-if="item.attachments && item.attachments[0]">
                                        <strong>Attachments:</strong>
                                        <ul>
                                            <li v-for="attach in item.attachments" :key="attach.file_name">
                                                <a :href="attach.content_url" target="_blank">{{attach.file_name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div v-if="!notFoundMessage" class="collapse-ticket-summary">
                <el-row>
                    <el-collapse>
                        <el-collapse accordion>
                            <el-collapse-item>
                                <template slot="title">
                                    Summary Of Tickets
                                    <el-button class="more-btn" type="text">Expand / Collapse</el-button>
                                </template>

                                <div>
                                    Total tickets group by month:
                                </div>
                                <div style="margin-left: 20px;" v-html="groupByMonthTickets"></div>
                            </el-collapse-item>
                        </el-collapse>
                </el-row>
            </div>

        </div>
    </div>

    <script>
        let isStage = true;
        let zendesk_country = '';
        let zendesk_bcn = '';
        let zendesk_ticketIdParam = '';
        let appId = '';
        let dashboardId = '';

        function setClientApiContext(Xrm, context, accountBCN, newnavigationtab) {
            var pageTitle = 'Zendesk';
            console.log(`${pageTitle} - setClientApiContext started...`);
            
            if (newnavigationtab) {
                console.log(`${pageTitle} - newnavigationtab: ${newnavigationtab.toString()}`);
            } else {
                console.log(`${pageTitle} - newnavigationtab is null`);
            }

            /* newnavigationtab example: "tab_freshdesk_31105_20666904" */
            if (newnavigationtab && newnavigationtab.toString().startsWith('tab_freshdesk')) { 
                var paramsFromExtraqs = newnavigationtab.toString().split('_');
                console.log(`${pageTitle} - paramsFromExtraqs: ${paramsFromExtraqs.join(',')}`);
                zendesk_ticketIdParam = paramsFromExtraqs[2];
                console.log(`${pageTitle} - ticketIdParam: ${zendesk_ticketIdParam}`);
            }
        };

        let items = [];
        let record = {};

        Vue.component('v-select', VueSelect.VueSelect);

        let app = new Vue({
            el: '#app',
            data: {
                pageTitle: 'Zendesk',
                zendeskBaseUrl: '',
                funcCode: '',
                funcCodeForComments: '',
                funcCodeForTickets: '',
                funcCodeForJsonById: '',
                selectedIdAndSubject: '',
                selectOptions: [],
                record: null,
                items: null,
                showLoading: true,
                startTime: Date.now(),
                notFoundMessage: '',
                ticketSummary: [],
                groupByMonthTickets: '',
                groupByQueueTickets: '',
            },
            async mounted() {
                if (!zendesk_country || !zendesk_bcn){
                    let account = await this.getAccountCountryAndBCN();
                    if (account) {
                        zendesk_country = account.CountryName;
                        zendesk_bcn = account.im360_bcn;
                    }
                }
                console.log(`${this.pageTitle} - zendesk_country value in mounted(): ${zendesk_country}`);
                console.log(`${this.pageTitle} - zendesk_bcn value in mounted(): ${zendesk_bcn}`);
                this.showLoadingPage();
                this.startTime = Date.now();

                let funcCodeString = '';
                let zendeskConfig = await this.getZendeskConfig();
                if (zendeskConfig) {
                    this.zendeskBaseUrl = zendeskConfig.im360_value;
                    funcCodeString = zendeskConfig.im360_value2;
                    this.appId = zendeskConfig.im360_value3;
                    console.log(`${this.pageTitle} - appId from FreshdeskAPI configuration: ${this.appId}`);
                } else {
                    console.error(`${this.pageTitle} - zendeskConfig is null`);
                    this.hideLoadingPage();
                }
                console.log(`${this.pageTitle} - try to start getTickets function`);

                let zendeskBaseUrl = this.zendeskBaseUrl;
                let stageApi = 'crm-zendesk-api.azurewebsites.net';
                if (zendeskBaseUrl && zendeskBaseUrl.indexOf(stageApi) > -1) {
                    isStage = true;
                } else {
                    isStage = false;
                }
                let funcCodeArr = funcCodeString.toString().split(';;;;');
                let funcCodeForTickets = funcCodeArr.length > 2 && funcCodeArr[2];
                let funcCode = funcCodeArr.length > 0 && funcCodeArr[0];
                let funcCodeForComments = funcCodeArr.length > 1 && funcCodeArr[1];
                let funcCodeForJsonById = funcCodeArr.length > 3 && funcCodeArr[3];
                this.dashboardId = funcCodeArr.length > 4 && funcCodeArr[4];
                console.log(`${this.pageTitle} - dashboardId from FreshdeskAPI configuration: ${this.dashboardId}`);
                this.funcCodeForComments = funcCodeForComments;
                this.funcCodeForTickets = funcCodeForTickets;
                this.funcCode = funcCode;
                this.funcCodeForJsonById = funcCodeForJsonById;

                // await new Promise(resolve => setTimeout(resolve, 2000)); // wait 2 seconds to ensure zendesk_ticketIdParam variables are set

                console.log(`${this.pageTitle} - zendesk_ticketIdParam: ${zendesk_ticketIdParam}`);

                let selectedTicketId = localStorage.getItem('zendesk_ticketId');
                console.log(`${this.pageTitle} - selectedTicketId from localStorage: ${selectedTicketId}`);
                localStorage.setItem('zendesk_ticketId', '');

                if (zendesk_ticketIdParam) {
                    selectedTicketId = zendesk_ticketIdParam;
                }

                // if (selectedTicketId) {
                //     this.record = await this.getTicket(zendeskBaseUrl, funcCode, zendesk_ticketIdParam);
                //     items.push(this.record);
                //     this.items = items;
                //     this.hideLoadingPage();
                // } else {
                    if (this.zendeskBaseUrl && zendesk_country && zendesk_bcn) {
                        let tickets = await  this.getTickets(selectedTicketId);
                        if (tickets) {
                            const {selected, selectOptions, items} = tickets;
                            this.selected = selected;
                            this.selectOptions = selectOptions;
                            this.items = items;
                            let ticketId = getTicketId(selected);
                            this.record = await this.getTicket(zendeskBaseUrl, funcCode, ticketId);
                            let id = this.record['id'];
                            let subjectGet = this.record['subject'];
                            this.selectedIdAndSubject = `${id}.${subjectGet}`;
                            if (items && items.length > 0) {
                                this.ticketSummary = this.getTicketSummary(items);
                                if (this.ticketSummary.length > 0) {
                                    this.groupByMonthTickets = this.getGroupByMonthTickets(this.ticketSummary);
                                }
                            }
                        }
                    } else {
                        await new Promise(resolve => setTimeout(resolve, 2000));

                        console.log(`${this.pageTitle} - try again - zendesk_country: ${zendesk_country}`);
                        console.log(`${this.pageTitle} - try again - zendesk_bcn: ${zendesk_bcn}`);
                        let message = 'try to start getTickets function for the second time';
                        console.log(`${this.pageTitle} - ${message}. ZendeskBaseUrl: ${this.zendeskBaseUrl}`);
                        if (zendesk_country && zendesk_bcn) {
                            this.notFoundMessage = '';
                            let tickets = await  this.getTickets(selectedTicketId);
                            if (tickets) {
                                const {selected, selectOptions, items} = tickets;
                                this.selected = selected;
                                this.selectOptions = selectOptions;
                                this.items = items;
                                let ticketId = getTicketId(selected);
                                this.record = await this.getTicket(zendeskBaseUrl, funcCode, ticketId);
                                let id = this.record['id'];
                                let subjectGet = this.record['subject'];
                                this.selectedIdAndSubject = `${id}.${subjectGet}`;
                                if (items && items.length > 0) {
                                    this.ticketSummary = this.getTicketSummary(items);
                                    if (this.ticketSummary.length > 0) {
                                        this.groupByMonthTickets = this.getGroupByMonthTickets(this.ticketSummary);
                                    }
                                }
                            }
                        } else {
                            this.notFoundMessage = "Account Country and BCN are required to find related tickets.";
                            this.hideLoadingPage();
                        }
                    }
                // }

            },
            methods: {
                async getZendeskConfig() {
                    let fetchXml = "<fetch version='1.0' output-format='xml-platform' mapping='logical' distinct='true'> \
                         <entity name='im360_configuration'> \
                             <attribute name='im360_configurationid'/> \
                             <attribute name='im360_value'/> \
                             <attribute name='im360_value2'/> \
                             <attribute name='im360_value3'/> \
                             <attribute name='im360_value4'/> \
                             <filter type='and'> \
                                 <condition attribute='im360_name' operator='eq' value='FreshdeskAPI' /> \
                                 <condition attribute='statuscode' operator='eq' value='1' /> \
                             </filter> \
                         </entity> \
                         </fetch>";

                    let pageTitle = this.pageTitle;
                    return Xrm.WebApi.retrieveMultipleRecords("im360_configuration", "?fetchXml=" + fetchXml).then(
                        function success(result) {
                            if (result != null) {
                                return result.entities[0];
                            } else {
                                console.error(`${pageTitle} - Cannot get Zendesk configuration.`);
                                return null;
                            }
                        },
                        function (error) {
                            console.error(`${pageTitle} - ${error.message}`);
                            this.hideLoadingPage();
                            return null;
                        }
                    );
                },

                async getAccountCountryAndBCN() {
                    let accountid = this.getValueParam();
                    if (accountid) {
                        let fetchXml = "<fetch version='1.0' output-format='xml-platform' mapping='logical' distinct='true'> \
                            <entity name='account'> \
                                <attribute name='im360_bcn' /> \
                                <link-entity name='im360_country' from='im360_countryid' to='im360_country' link-type='inner'> \
                                    <attribute name='im360_name' alias='CountryName' /> \
                                </link-entity> \
                                <filter type='and'> \
                                    <condition attribute='accountid' operator='eq' value='" + accountid + "' /> \
                                </filter> \
                            </entity> \
                            </fetch>";

                        let pageTitle = this.pageTitle;
                        return Xrm.WebApi.retrieveMultipleRecords("account", "?fetchXml=" + fetchXml).then(
                            function success(result) {
                                if (result != null) {
                                    return result.entities[0];
                                } else {
                                    console.error(`${pageTitle} - Cannot get Account BCN.`);
                                    return null;
                                }
                            },
                            function (error) {
                                console.error(`${pageTitle} - ${error.message}`);
                                this.hideLoadingPage();
                                return null;
                            }
                        );
                    } else{
                        return null;
                    }
                },

                getValueParam() {
                    let valueid = '';
                    let vals = new Array();
                    if (location.search != "") {
                        vals = location.search.substr(1).split("&");
                        for (let i in vals) {
                            vals[i] = vals[i].replace(/\+/g, " ").split("=");
                            if (vals[i][0].includes("id", 0)) {
                                valueid = vals[i][1];
                                valueid = valueid.replace('{', '').replace('}', '');
                            }
                        }
                    }
                    if (valueid.length > 36) valueid = valueid.substr(3, 36);
                    return valueid;
                },

                async getTickets(selectedTicketId) {
                    let results = [];

                    let fetchXml = `<fetch top='5000'> \
                                        <entity name='im360_zendesktickets'> \
                                            <attribute name='im360_accountid' /> \
                                            <attribute name='im360_country' /> \
                                            <attribute name='im360_created_at' /> \
                                            <attribute name='im360_domain' /> \
                                            <attribute name='im360_ingrambcn' /> \
                                            <attribute name='im360_partneremailaddress' /> \
                                            <attribute name='im360_priority' /> \
                                            <attribute name='im360_resellername' /> \
                                            <attribute name='im360_resolved_at' /> \
                                            <attribute name='im360_resolvehours' /> \
                                            <attribute name='im360_status' /> \
                                            <attribute name='im360_ticketid' /> \
                                            <attribute name='im360_ticketsubjectline' /> \
                                            <attribute name='im360_updated_at' /> \
                                                <filter type='and'> \
                                                    <condition attribute='im360_country' operator='eq' value='${zendesk_country}' /> \
                                                    <condition attribute='im360_ingrambcn' operator='eq' value='${zendesk_bcn}' /> \
                                                </filter> \
                                            <order descending='true' attribute='im360_created_at' /> \
                                        </entity> \
                                    </fetch>`;

                    let pageTitle = this.pageTitle;
                    let selectOptions = this.selectOptions;
                    let hideLoadingPage = this.hideLoadingPage;
                    
                    return Xrm.WebApi.retrieveMultipleRecords("im360_zendesktickets", "?fetchXml=" + fetchXml).then(
                        function success(result) {
                            let selected = '';
                            let items = [];

                            if (result != null) {
                                items = result.entities;
                                if (items && items.length > 0) {
                                    selected = `${items[0]['im360_ticketid']}.${items[0]['im360_ticketsubjectline']}`;
                                    if (selectedTicketId) {
                                        items.forEach(item => {
                                            if(item['im360_ticketid'] && (item['im360_ticketid'].toString() == selectedTicketId)) {
                                                selected = `${item['im360_ticketid']}.${item['im360_ticketsubjectline']}`;
                                            }
                                        });
                                    }

                                    selectOptions = [];
                                    items.forEach(item => {
                                        selectOptions.push(`${item.im360_ticketid}.${item.im360_ticketsubjectline}`);
                                    });
                                    if (selectOptions.length > 0) {
                                        let newOption = 'View more tickets...';
                                        selectOptions.push(newOption);
                                    }
                                }
                            } else {
                                console.error(`${pageTitle} - Cannot get Zendesk tickets.`);
                                return null;
                            }

                            let finalResult = {
                                selected,
                                selectOptions,
                                items
                            }
                            hideLoadingPage();
                            return finalResult;
                        },
                        function (error) {
                            console.error(`${pageTitle} - ${error.message}`);
                            this.hideLoadingPage();
                            return null;
                        }
                    );
                },

                async setSelected() {
                    if (this.selectedIdAndSubject === 'View more tickets...') {
                        this.showLoadingPage();
                        // refresh:
                        // this.getTickets(this.zendeskBaseUrl, this.funcCode, this.funcCodeForTickets, '', 100, this.hideLoadingPage);
                        let url = window.location.protocol + "//" + window.location.host + "/";
                        let fullUrl = `${url}/main.aspx?appid=${this.appId}&pagetype=dashboard&id=${this.dashboardId}&type=system`;
                        console.log(`${this.pageTitle} - fullUrl: ${fullUrl}`);
                        // localStorage.setItem('zendesk_country_name', zendesk_country);
                        // localStorage.setItem('zendesk_bcn', zendesk_bcn);
                        this.hideLoadingPage();

                        if (this.record) {
                            let id = this.record['im360_ticketid'];
                            let subjectGet = this.record['im360_ticketsubjectline'];
                            this.selectedIdAndSubject = `${id}.${subjectGet}`;
                        }

                        window.open(fullUrl, '_blank');
                        return;
                    } else {
                        const ticketId = getTicketId(this.selectedIdAndSubject);
                        this.record = await this.getTicket(this.zendeskBaseUrl, this.funcCode, ticketId);
                    }
                },

                async getJsonById(zendeskBaseUrl, jsonPath, jsonId, funcCodeForJsonById) {
                    let result = 'N/A';
                    if (jsonId && jsonId !== 'null') {
                        const response = await axios.get(`${zendeskBaseUrl}/getJsonById?jsonPath=${jsonPath}&jsonId=${jsonId}&code=${funcCodeForJsonById}`);

                        result = response.data ? response.data : '';
                    }
                    return result;
                },

                async getConversation(ticketId, zendeskBaseUrl, funcCodeForComments) {
                    let result = 'N/A';
                    if (ticketId && ticketId !== 'null') {
                        const response = await axios.get(`${zendeskBaseUrl}/getCommentById?code=${funcCodeForComments}&itemId=${ticketId}`);

                        result = response.data ? response.data.comments : '';
                    }

                    result && result.sort((a, b) => new Date(b.created_at) - new Date(a.created_at));
                    //const resultWithoutLastItem = result.slice(0, -1);
                    return result;
                },

                async getCustomFieldValue(fieldId, fieldValue) {
                    let result = fieldValue;
                    let jsonId = fieldId;
                    let jsonPath = 'ticket_fields/';
                    let fieldData = fieldId ? await this.getJsonById(this.zendeskBaseUrl, jsonPath, jsonId, this.funcCodeForJsonById) : '';
                    if (fieldData && fieldData.ticket_field && fieldData.ticket_field.custom_field_options) {
                        const obj = fieldData.ticket_field.custom_field_options.find(item => item.value === fieldValue);
                        result = obj ? obj.name : fieldValue;
                    }
                    return result;
                },

                async getTicket(zendeskBaseUrl, funcCode, ticketId) {
                    const fullUrl = `${zendeskBaseUrl}/getDataById?code=${funcCode}&category=tickets&itemId=${ticketId}`;
                    console.log(fullUrl);
                    const response = await axios.get(fullUrl);

                    let result = response.data;
                    if (result) {
                        // result = convertValue(result);

                        if (result && result.ticket) {
                            result = {
                            ...result,
                            ...result.ticket
                            };
                            delete result.ticket;
                        }
                        let jsonPath = 'users';
                        let jsonId = result.requester_id;
                        let userData = jsonId ? await this.getJsonById(zendeskBaseUrl, jsonPath, jsonId, this.funcCodeForJsonById) : '';
                        result.requesterEmail = userData.user ? userData.user.email : '';

                        let jsonIdForAssignee = result.assignee_id;
                        let agentData = jsonIdForAssignee ? await this.getJsonById(zendeskBaseUrl, jsonPath, jsonIdForAssignee, this.funcCodeForJsonById) : '';
                        result.strAgent = agentData.user ? agentData.user.name : '-';
                        result.conversations = await this.getConversation(ticketId, zendeskBaseUrl, this.funcCodeForComments);
                        if (result.conversations) {
                            for (let item of result.conversations) {
                                jsonId = result.author_id;
                                let userData = jsonId ? await this.getJsonById(zendeskBaseUrl, jsonPath, jsonId, this.funcCodeForJsonById) : '';
                                result.author_email = userData.user ? userData.user.email : '';
                            }
                        }
                        
                        let domainFieldId = isStage ? 31042462931476 : 34698829065236;
                        const objDomain = result.custom_fields && result.custom_fields.find(item => item.id === domainFieldId);
                        const domainValue = objDomain ? objDomain.value : '';
                        result.strDomain = domainValue? await this.getCustomFieldValue(domainFieldId, domainValue) : '';
                        
                        let supportTierFieldId = isStage ? 33937714050708 : 34698770438676;
                        const objTier = result.custom_fields && result.custom_fields.find(item => item.id === supportTierFieldId);
                        const tierValue = objTier ? objTier.value : '';
                        result.strSupportTier = tierValue ? await this.getCustomFieldValue(supportTierFieldId, tierValue) : '';

                        let platformFieldId = isStage ? 35415435690388 : 35228789545364;
                        const objPlatform = result.custom_fields && result.custom_fields.find(item => item.id === platformFieldId);
                        const platformValue = objPlatform ? objPlatform.value : '';
                        result.strPlatform = platformValue ? await this.getCustomFieldValue(platformFieldId, platformValue) : '';

                        let vendorFieldId = isStage ? 36211322445460 : 35229050467860;
                        const objVendor = result.custom_fields && result.custom_fields.find(item => item.id === vendorFieldId);
                        const vendorValue = objVendor ? objVendor.value : '';
                        result.strVendor = vendorValue ? await this.getCustomFieldValue(vendorFieldId, vendorValue) : '';

                        let countryFieldId = isStage ? 31959436739604 : 35138178531732;
                        const objCountry = result.custom_fields && result.custom_fields.find(item => item.id === countryFieldId);
                        const countryValue = objCountry ? objCountry.value : '';
                        result.strCountry = countryValue ? await this.getCustomFieldValue(countryFieldId, countryValue) : '';

                    }
                    
                    return result;
                },

                showLoadingPage() {
                    this.showLoading = true;
                },

                hideLoadingPage() {
                    if (Date.now() - this.startTime < 500) {
                        setTimeout(() => {
                            this.showLoading = false;
                        }, 500);
                    } else {
                        this.showLoading = false;
                    }
                },

                getTicketSummary(items) {
                    const result = [];
                    try {
                        items.forEach(item => {
                            const createdAt = new Date(item.im360_created_at);
                            const strMonth = (createdAt.getMonth() + 1).toString();
                            const fullMonth = strMonth.length === 1 ? `0${strMonth}` : `${strMonth}`;
                            const yearAndMonth = `${createdAt.getFullYear()}-${fullMonth}`;
                            const ticketObj = {
                                yearAndMonth,
                            }
                            result.push(ticketObj);
                        });
                    } catch (err) {
                        console.error(`${this.pageTitle} - Zendesk getTicketSummary error`);
                        this.hideLoadingPage();
                    }
                    return result;
                },

                getGroupByMonthTickets(ticketSummaryParam) {
                    let result = '';
                    try {
                        const groupByMonth = groupBy("yearAndMonth");
                        const groupedTickets = groupByMonth(ticketSummaryParam);
                        Object.keys(groupedTickets).forEach(key => {
                            if (result && result.length > 0) {
                                result += '<br>';
                            }
                            result += key;
                            result += ': ';
                            result += `<b>${groupedTickets[key]}</b>`;
                        });
                    } catch (err) {
                        console.error(`${this.pageTitle} - getGroupByMonthTickets error`);
                        this.hideLoadingPage();
                    }
                    return result;
                }
            }
        });

        const getUTC = (strDateParam) => {
            const dateParam = new Date(strDateParam);
            const result = Date.UTC(dateParam.getFullYear(), dateParam.getMonth(), dateParam.getDate(), dateParam.getHours());
            return result;
        }

        const getTicketId = (selectedIdAndSubject) => {
            const ticketId = selectedIdAndSubject ? selectedIdAndSubject.substring(0, selectedIdAndSubject.indexOf('.')) : '';
            return ticketId;
        }

        const groupBy = (key) => {
            return function group(array) {
                return array.reduce((acc, obj) => {
                    const property = obj[key];
                    acc[property] = acc[property] ? acc[property] + 1 : 1;
                    return acc;
                }, {});
            };
        }

        const asyncForEach = async (array, callback) => {
            if (array && callback) {
                for (let index = 0; index < array.length; index++) {
                    await callback(array[index], index, array);
                }
            }
        }
    </script>

    <style scoped>
        body {
            height: 100%;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
        }

        #viewerHead {
            text-align: left;
            margin-top: 10px;
            margin-left: 20px;
            float: left;
            width: 100%;
            font-size: 14px;
        }

        #viewerHeadOtherInfo {
            text-align: left;
            margin-top: 10px;
            margin-left: 20px;
            float: left;
            width: 100%;
            font-size: 14px;
        }

        .details td {
            width: 100px;
        }

        .MainMessage {
            overflow: auto;
            text-align: left;
            background-color: #93dde3;
            padding: 1%;
            font-size: 14px;
            border-radius: 25px;
            border: solid 1.5px black;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 50px;
        }

        .MessageHeader {
            text-align: left;
            font-style: italic;
        }

        .conversations {
            word-wrap: break-word;
            text-align: left;
            background-color: #c8edf2;
            padding: 1%;
            font-size: 14px;
            border-radius: 25px;
            border: solid 1.5px black;
            margin: 10px 20px 10px 100px;
        }

        #tags {
            margin: 0;
            padding: 0;
        }

        #tags li {
            display: inline;
            text-decoration: none;
            padding: 0.2em 1em;
        }

        .inline {
            display: inline-block;
            margin-right: 20px;
        }

        ul {
            list-style-type: none;
            overflow: hidden;
        }

        table,
        th,
        td {
            border: 1px solid #dddddd;
            border-collapse: collapse;
            text-align: center;
            padding: 7px;
        }

        .underlined {
            text-decoration: underline;
            padding-left: 15px;
            cursor: pointer;
            color: #408cf0;
        }

        #tags {
            margin: 0 0 -5px 2px;
            display: inline-block;
        }

        .conversation {
            margin-left: -40px;
            margin-bottom: 60px;
        }

        .recordTags {
            margin: -10px 0 20px 0;
        }

        .recordTagsShort {
            margin-left: 40px;
        }

        .boldTags {
            width: 40px;
            display: inline-block;
            margin-right: 0px;
        }

        .boldDue {
            width: 90px;
            display: inline-block;
            margin-right: 0px;
        }

        .boldRequester {
            width: 150px;
            display: inline-block;
            margin-right: 0px;
        }

        .boldInMinutes {
            width: 210px;
            display: inline-block;
            margin-left: 20px;
        }

        .boldCompany {
            width: 50px;
        }

        .scrollableDiv {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
            overflow-wrap: break-word;
        }

        /* loading image */
        #loading {
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            position: fixed;
            display: block;
            opacity: 0.85;
            background-color: #fff;
            z-index: 99;
            text-align: center;
        }

        #loading-content {
            position: absolute;
            top: 30%;
            left: 45%;
            text-align: center;
            z-index: 100;
        }

        .select-box {
            margin-right: 60px;
        }

        .expand-button {
            float: right;
            margin-top: -26px;
            margin-right: 30px;
        }

        .expand-image {
            cursor: pointer;
            margin-left: 10px;
            margin-bottom: -3px;
        }

        .not-found {
            margin-top: 20px;
        }

        .collapse-ticket-summary {
            margin-left: 20px;
            margin-right: 20px;
        }

        .el-collapse-item {
            position: relative;
        }

        .more-btn {
            float: right;
            background-color: transparent;
            border: none;
            margin-right: .5rem;
            i {
                margin-left: 1rem;
            }

        }

        .el-collapse-item__arrow {
            float: left;
            margin: 0 0.5rem;
            width: 1rem;
            text-align: center;
        }
    </style>

</body>

</html>